.visualy-hidden {
  display: none;
}
.main-slider {
  position: relative;
  margin: 0;
  Padding: 0;
  width: 1160px;
  height: 500px;
}

.main-slider input[type=radio] {
  display: none;
}
.slider-inner {
  overflow: hidden;
}
.slider-slides {
  width: 300%;
  transition: transform 0.8s ease;
}

.slider-slides .slide {
  width: 1160px;
  height: 500px;
  float: left;

}

.main-slider .slider-controls {
  text-align: center;

  top: 555px;
  right: 80px;
}

.main-slider .slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}

.radio-center {
  display: block;
  width: 4px;
  height: 4px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 2px;
  margin-top: 2px;
}

#main-slider-btn-1:checked ~ .slider-controls label[for="main-slider-btn-1"] span,
#main-slider-btn-2:checked ~ .slider-controls label[for="main-slider-btn-2"] span,
#main-slider-btn-3:checked ~ .slider-controls label[for="main-slider-btn-3"] span {
    background-color:#666666;
}

#main-slider-btn-1:checked ~ .slider-inner .slider-slides{
    transform: translate(0px);
}
#main-slider-btn-2:checked ~ .slider-inner .slider-slides{
    transform: translate(-1160px);
}
#main-slider-btn-3:checked ~ .slider-inner .slider-slides{
    transform: translate(-2320px);
}
.slide {
  display: flex;

}
.main-navigation {
  display: flex;
}
.show {
  display: inline-block;
  width: 40px;
  height: 20px;
  border: 1px solid black;
}



.range-filter {
  width: 240px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}
.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}
.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
