@font-face {
    font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
body {
  width: 1440px;
  padding: 0px;
  margin: 0px;
  font-family: Gilroy, Arial, sans-serif ;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;

  background-color: #ffffff;

}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.visualy-hidden {
  display: none;
}
.main-container {
  width: 1160px;
  margin: 0 auto;
}

.container {

}

a {
  text-decoration: none;
}
img {
  max-width: auto;
  max-height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header{
  margin-top: 40px;


}
.main-header-logo {
  display: inline-block;
position: absolute;
top: 15px;
left: 196px;
}
.main-header-logo b {
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.014em;
  text-align: center;
  color: #000000;

}
.main-header-logo b:hover {
  color: rgba(0, 0, 0, 0.6);
}
.main-header-logo b:focus,
.main-header-logo b:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  width: 1160px;
  height: 299px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 299px;
  background-color: #f7e296;

}
.user-container {
  padding-top: 43px;
  padding-bottom: 5px;
}

  .site-navigation {
    width: 500px;
    margin: 0;
    padding: 0;
    min-height: 50px;
    display: flex;
  }
  .site-navigation li {
    display: flex;
    min-width: 100px;
    min-height: 50px;
    margin: 0;
    padding: 0;

  }
  .site-navigation li {
    display: flex;
    width: 100%;
    min-height: 50px;
  }

/*site-navigation*/

.site-navigation a {
  display: block;
  position: relative;

  padding-left: 26px;
  vertical-align: middle;
}

.main-navigation-container {
  visibility: hidden;
  z-index: 1;
  width: 1160px;
  position: absolute;
  top: 50px;
  left: -60px;
  min-height: 50px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 36px;
  text-transform: none;
  background-color: #f7e296;
  display: flex;
  justify-content: flex-start;
  padding-left: 60px;
  padding-bottom: 35px;
  padding-right: 500px;



}
.main-navigation-container ul {

}
.catalog-left li,
.catalog-center li,
.catalog-right li {
  padding-top: 8px;

}
.catalog-left {
  width: 40%;
padding-left: 0px;


}
.catalog-right{
  padding-left: 74px;

}
.catalog-center {
  padding-left: 0px;
}

.site-navigation, .main-navigation-container {
  list-style: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height:30px;
}
.main-navigation-item{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  list-style: none;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  padding-top: 13px;
}

.site-navigation a, .main-navigation-item a{

  color: #000000;
}

.site-navigation a:hover,


.main-navigation-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}


.site-navigation a:active,
.site-navigation a:focus,
.main-navigation-item a:focus,
.main-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation li:first-child  {
  width: auto;
  margin-right: 0;
}
.site-navigation li:nth-child(2)  {
  margin-right: 20px;
  margin-left: auto;

}
.site-navigation li:last-child  a  {
  margin-right: 0;
  margin-left: auto;
}
.site-navigation li:first-child a::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: -1px;
  top: 8px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation li:nth-last-child(-n+2) a::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 7px;
  top: 11px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.site-navigation li:last-child a::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 6px;
  top: 9px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a:hover::before {
opacity: 0.6;
}
.site-navigation a:focus::before,
.site-navigation a:active::before {
  opacity: 0.3;
}

.catalog-link {

  padding-right: 40px;
  position: relative;
}
.catalog-link::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 3px;
  right: 33px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;


}


.main-navigation-list {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.main-navigation-list li {
  display: flex;
  min-width: 30px;

}
.main-navigation-item-wrapper li {
  min-width: 50px;
}
.main-navigation-list li:first-child {
  margin:0;
}
.main-navigation-item-wrapper {
  width: 500px;
  display: flex;
}

.main-navigation-item-wrapper li:nth-child(2) {
  margin-left: 39px;
}
.main-navigation-item-wrapper li:last-child {
  margin-left: 112px;
}


ul:first-child a:hover + .main-navigation-container,
ul:first-child a:focus + .main-navigation-container {
  visibility: visible;
}
.main-navigation-container:hover {
  visibility: visible;
}

.main-navigation-container ul {
  list-style: none;
}



/* search*/
.search-container {
  display: flex;
  width: 440px;
  min-height: 20px;
  position: relative;

  }
.search-container {
  padding-top: 46px;
}
.search-container .search {

  border: none;
  outline: none;
  background-color: #f7e296;
  -webkit-appearance: none;

}
.search-container .psevdo-wrapper {
  width: 403px;

  position: relative;
}
.search-container .psevdo-wrapper input {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  padding-bottom: 13px;
  padding-left: 38px;
}
.search-container .psevdo-wrapper::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 4px;
  top: 6px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

 .btn-search {
   font-family: Open Sans sans-serif;
   font-size: 15px;
   line-height: 30px;
   font-weight: 300;

  visibility: hidden ;
  position:absolute;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  width: 85px;
  height: 49px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  background-color:#f7e296;
  color: #000000;
  border: 2px solid black;

}

.search:active,
.search:focus {
  width: 100%;
  border-bottom: 2px solid #000000;
  background-color: #f7e296;

}

.search:active + .btn-search,
.search:focus + .btn-search{
  visibility: visible;
}

.search::-webkit-search-results-decoration { display: none; }
.search::-webkit-input-placeholder {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.3);
}
.psevdo-wrapper input:focus::-webkit-input-placeholder,
.psevdo-wrapper input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.psevdo-wrapper input:active::-webkit-input-placeholder {
  color: #000000;
}


.search-container .btn-search:hover {
  background-color:#000000;
  color: #ffffff;
}

.search-container .btn-search:active {
  visibility: visible;
  color: rgba(255, 255, 255, 0.7);

}
.search-nav-wrapper {
  height: 100px;
  order: -1;
  display: flex;
  justify-content: space-between;
}



}


.list-wrapper {
  display: inline-block;
  flex-direction: column;
  font-weight: 300;
  letter-spacing: 0.01em;


}













 .button{
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  min-width: 220px;
  max-width: 100%;
  position: relative;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  border: 0;
  background: 0;
}
 .button::after {
    content: "";
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
    z-index: -1;
    transition: .3s linear;
}
 .button:hover::after,
 .button:focus::after{
  height: 100%;
  }

  /*Slaider*/

  .main-slider {
    font-family: "Open Sans", "Arial", sans-serif;
    display: flex;
    margin-top: -130px;
    position: relative;
    width: 1160px;
    height: 500px;
  }
  .main-slider p {
    font-size: 15px;
    line-height: 30px;
  }
  .main-slider td {
    font-size:13px;
    line-height: 30px;
  }

  .slide {
    display: flex;
    margin-left:80px;
    width: 1010px;
    height: 486px;

  }
  .description {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 500px;
    margin-left: 140px;;
  }
  .description p {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .decor-line {
    content: "";
    width: 100px;
    margin-top: 53px;
    border-bottom: 7px solid #ffffff;

  }
  .slide span {
    position:absolute;
    top: 3px;
    right: -9px;
    padding: 0;
    margin: 0;
    color: #ffffff;
  }
  .description h2 {
    width: 500px;
    margin-top: 35px;
    margin-bottom: 0px;
    display: flex;
    z-index: 1;

  }
  .description p {
    margin: 0px;
  }
  .description p:first-of-type {
    margin: 0px;
    margin-top: 20px;

  }
  .description .button-more {
    width: 220px;
  }
  .advantages tbody {
    width: 450px;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 48px;

  }
  .advantages tr {
    width: 100%;
    display: flex;
    justify-content: space-between;


  }
  .advantages td {
    width: 150px;
    margin: 0;
    padding: 0;

    font-family: "Gilroy-Light", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    text-align: left;
  }
  .advantages th {
    width: 150px;
    margin: 0;
    padding: 0;

    font-family: "open Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    text-align: left;
  }

  .slide img {
    flex-shrink: 0;
  }


.main-slider .button:active {
    color:rgba(0, 0, 0, 0.3);
  }
.main-slider h2,
.main-slider .button-more,
.main-slider span{
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
}
.main-slider .button-more {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2;
  text-transform: uppercase;
  color: #000000;
  margin-top: 40px;
}

.main-slider span {

  font-size: 179.2px;
  line-height: 179.2px;
}

.main-slider input[type=radio] {
  display: none;
}
.slider-inner {
  overflow:  hidden ;
}
.slider-slides {
  display: flex;
  width: 300%;
  transition: transform 0.8s ease;
}

.slider-slides .slide {
  width: 1160px;
  height: 500px;
  float: left;

}

.main-slider .slider-controls {
  text-align: center;
  position: absolute;
  top: 360px;
  right: 80px;
  z-index: 1;
}

.main-slider .slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 7px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}

.slider-controls label:active .radio-center,
.slider-controls input[type="radio"]:checked + label .radio-center{
  background-color: red;
  display: block;
  width: 4px;
  height: 4px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 2px;
  margin-top: 2px;
}

#main-slider-btn-1:checked ~ .slider-controls label[for="main-slider-btn-1"] span,
#main-slider-btn-2:checked ~ .slider-controls label[for="main-slider-btn-2"] span,
#main-slider-btn-3:checked ~ .slider-controls label[for="main-slider-btn-3"] span {
    background-color: red;
}

#main-slider-btn-1:checked ~ .slider-inner .slider-slides{
    transform: translate(0px);
}
#main-slider-btn-2:checked ~ .slider-inner .slider-slides{
    transform: translate(-1160px);
}
#main-slider-btn-3:checked ~ .slider-inner .slider-slides{
    transform: translate(-2320px);
}



.main-navigation {
  display: flex;
}
.show {
  display: inline-block;
  width: 40px;
  height: 20px;
  border: 1px solid black;
}



.range-filter {
  width: 240px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}
.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}
.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

/*Popular*/
.popular {
  margin-top: 110px;
}
.main-popular {
  margin:0;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;

}
.main-popular li {
  width: 13.79%;
}
.main-popular .img-container {
  display: flex;width: 160px;
  height: 160px;
  background-color: #f7e296;
  margin: 0px;
}
.main-popular a {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  //padding: 20px;
  display: flex;
  flex-direction: column;
}
.main-popular p {
  text-align: left;
  margin-top: 35px;
}
.img-container img {
  margin: auto;
}
.main-popular li:nth-child(2) img {
  margin-bottom: 0;
}

.main-popular .img-container:focus,
.main-popular .img-container:hover {
  background-color: #f0c52e;
}
.main-popular .img-container:active img{
  opacity: 0.3;
}

/* Сервисный слайдер*/
.services-slider{
  display: flex;
  margin:0;
  margin-top: 160px;
  padding:0;
  width: 1445px;
  height: 288px;
  background-color: #e5e5e5;

}

.services-slider .button:active {
  background-color: #000000;
  color:#ffffff;
}
.services-slider .button:active::after {
  background-color: #000000;
}

.services-slider h3, .services-slider span {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  line-height: 48px;
}
.services-slider span {
  font-size: 18px;
  line-height: 24px;
}
.services-slider p{
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}




.services-slide-btn {
  display: none;
}

.services-slider-container {
  display: flex;
  width: 1200px;
  padding: 0 20px;
  margin: 0px auto;
  margin-top: -85px;
}

.services-slide-controls {
  position: relative;
  width: 284px;
  height: 320px;
  padding-top: 70px;
  padding-bottom: 46px;
  border-right: 7px solid rgba(0, 0, 0, 1.00);
}

.btn {
  margin-bottom: 24px;
  padding: 11px 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  max-width: 100%;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1.00);
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  background: 0;
  border: none;
}

.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: .3s linear;
}

.btn:hover::after,
.btn:focus::after {
  height: 100%;
}

.services-slide-btn:nth-of-type(1):checked ~ .services-slide-controls .btn:nth-child(1),
.services-slide-btn:nth-of-type(2):checked ~ .services-slide-controls .btn:nth-child(2),
.services-slide-btn:nth-of-type(3):checked ~ .services-slide-controls .btn:nth-child(3){
  width: 100%;
  padding-right: 132px;
  color: rgba(247, 225, 132, 1.00);
}

.services-slide-btn:nth-of-type(1):checked ~ .services-slide-controls .btn:nth-child(1):after,
.services-slide-btn:nth-of-type(2):checked ~ .services-slide-controls .btn:nth-child(2):after,
.services-slide-btn:nth-of-type(3):checked ~ .services-slide-controls .btn:nth-child(3):after {
    background-color: rgba(0, 0, 0, 1.00);
    height: 100%;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;

}
.services-list li{
  position: absolute;
  margin-left: 116px;
  width: 800px;
  height: 250px;
}
.services-list li:nth-child(1) {

  background: url("../img/delivery.svg") no-repeat 590px 70px;

}
.services-list li:nth-child(2) {
  background: url("../img/warranty.svg") no-repeat 560px 70px;

}
.services-list li:nth-child(3) {
  background: url("../img/credit.svg") no-repeat 560px 70px;

}
.services-list h3 {
  margin-top: 60px;
  margin-bottom: 30px;

}
.services-list p{
  width: 440px;
  margin: 0;
}
.delivery, .warranty, .credit {
  visibility: hidden;
}
.services-slide-btn:nth-of-type(1):checked ~ .services-list li:nth-child(1),
.services-slide-btn:nth-of-type(2):checked ~ .services-list li:nth-child(2),
.services-slide-btn:nth-of-type(3):checked ~ .services-list li:nth-child(3) {
  visibility: visible;
}
/* Логотипы*/
.logo-list {

  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 0px;
  margin: 0;

}
.logo-list li{
 line-height: 0;
  position: relative;
  list-style: none;
  padding-left: 0px;
}
.logo-list a{
  text-decoration: none;
  color: inherit;

}

.logo-list .img{
  display: block;
  width: 260px;
  height: 100px;
}
.logo-list .img1-hover,
.logo-list .img2-hover,
.logo-list .img3-hover,
.logo-list .img4-hover{
  position: absolute;
  top: 0;
  transition: .5s;
}
.logo-list a:hover .img1-hover,
.logo-list a:hover .img2-hover,
.logo-list a:hover .img3-hover,
.logo-list a:hover .img4-hover,
.logo-list a:focus .img1-hover,
.logo-list a:focus .img2-hover,
.logo-list a:focus .img3-hover,
.logo-list a:focus .img4-hover{
   opacity: 0;
}
/* Блок информации*/
.info-wrapper {
  display: flex;
  margin-top: 85px;
}
.info {
  width: 50%;
  padding-right: 110px;
}
.contact {
  width: 50%;
}
.info h2, .contact h2 {
  position: relative;
}
.info-wrapper h2::before {
  content: "";
  position:absolute;
  top: -50px;
  width: 80px;
  border: 7px solid #000000;
  transform: translateY(-50%);
}
.info h2, .contact h2 {
  font-family: Gilroy, sans-serif;
  font-size:47px;
  line-height: 48px;
}
.info p, .contact p {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 30px;

}
.info a, .contact a {

  text-decoration: none;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color:#000000;
  letter-spacing: 0.01em;
  width: 260px;
}
.contact a:first-of-type {
  display: block;
  padding-top: 30px;
  padding-bottom: 60px;
}

.info .button, .contact .button {
  letter-spacing: 0.2em;
}
.info a:active, .contact a:active {
  color: rgba(0, 0, 0, 0.3);
}
.info-wrapper .contact {
  padding-left: 20px;
}
.info p:nth-child(2) {
  margin-top: 45px;

}
.info p:nth-child(3) {
  margin-top: 30px;

}
.info ul{
  padding: 0;
  padding-top: 25px;
  padding-left: 35px;

}
.delivery-company li {
  padding-bottom: 15px;
  margin: 0;
}
.info a {
  margin-top: 30px;
}
.delivery-company {
  list-style:none;
}
/*footer*/

.main-footer {

  background-color: #464646;
  color: #ffffff;
  width: 1440px;
  height: 323px;
  margin-top:80px;
  padding-right:140px;
  padding-left: 140px;
}
.main-footer .user-navigation {

  width: 480px;
  margin-left: auto;
  margin-top: -50px;
  display: flex;
  justify-content: flex-end;
}
.main-footer .user-navigation li {

}
.main-footer .footer-navigation-container {
  display: flex;
  justify-content: space-between;
}
.footer-services {
  display: flex;
  justify-content: center;
}
.footer-services li:nth-child(2),
.footer-services li:nth-child(3) {
  padding-left: 40px;
}
.footer-navigation-container p:first-of-type {
  order: -1;
}
.social {
    padding-top: 35px;
}
.social ul {
  padding-left: 20px;
}
.main-footer .social-button {
  display: flex;
  justify-content: center;

}
.social-button li:nth-child(2) {
  margin-left: auto;
}
.social-button li:last-child {
  margin-left:auto;
  margin-top: -20px;
}
.main-footer .logo {
  display:inline-block;
  padding-top: 60px;
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
}
.main-footer .logo:hover, .main-footer .logo:focus {
  color: rgba(255, 198, 0, 0.6);
}
.main-footer .logo:active {
  color: rgba(255, 198, 0, 0.3);
}
.main-footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.main-footer a:hover, .main-footer a:focus {
  color: rgba(255, 255, 255, 1);
}
.main-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}
.htmla-logo:hover, .htmla-logo:focus {
  opacity: 0.6;
}
.htmla-logo:active {
  opacity: 0.3;
}
.main-footer li {
  list-style: none;
}
.user-navigation a{
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 36px;
}
 .footer-services{
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
    margin-left: -70px;

}
.main-navigation-container p {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  font-weight: 300;
}
.user-navigation li {
  padding-left: 40px;
  position: relative;

}
.site-navigation li:first-child a::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: -1px;
  top: 8px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.user-navigation li:first-child a::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 6px;
  top: 9px;
  background-color: white;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-navigation li:nth-last-child(-n+2) a::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 7px;
  top: 11px;
  background-color: white;

  background-image: url("../img/comparecolor.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-navigation li:last-child a::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 6px;
  top: 9px;
  background-color: white;
  background-image: url("../img/cartcolor.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.social-button li:nth-child(3),
.social-button li:nth-child(4) {
  padding-left: 20px;
}
.social-button img {
  opacity: 0.3;
}
.social-button li:first-child {
  position: relative;
}
 .decor-line-2 {
   position: absolute;
   top: 8px;
   left: -20px;
  content: "";
  width: 80px;

  border-bottom: 7px solid  #ffc600;

}

/*Modal*/
.modal {

  height: 553px;
  box-shadow: 10px 10px 40px 0px #000000;
}
.modal-login {
  top: 120px;
  left: 50%;
  width: 960px;
  padding: 50px 80px;
  margin-left: -490px;
  background-color: #ffffff;
  z-index: 1;

}
.modal form {
  padding-top: 50px;
}
.modal p {
  margin: 0;
}
.modal-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.modal-wrapper p {
  display: flex;
  flex-direction: column;
}
.modal-wrapper p:first-child {
  margin-left: auto;
  margin-right: 40px;

}
.modal-wrapper p:nth-child(2) {
  margin-right: auto;
}

.modal label{
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.modal-wrapper .modal-button {
  margin-left: 20px;
  margin-right: auto;
  letter-spacing: 0.2em;
}
.modal .modal-button:active{
  color: rgba(0, 0, 0, 0.3);
}

.modal-login input::-webkit-input-placeholder,
.modal-login .textarea {
  font-style: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding-left: 20px;
    color:rgba(0, 0, 0, 0.4);
}
.modal-login input {
  width: 360px;
  height: 50px;
  border: none;
  outline: none;
  background-color:#f2f2f2;

}
.modal-login label {
  padding-bottom: 10px;
}
.modal-login p:last-of-type {
  padding-top: 40px;
  padding-bottom: 55px;
}

.modal-login .textarea{
  padding-top: 20px;
  padding-left: 0;
  width: 760px;
  height: 160px;
  background-color: #f2f2f2;
  resize: none;
  border: none;
  }
  .modal-login input:active,
  .modal-login input:focus,
  .modal-login .textarea:active,
   .modal-login .textarea:focus{
    border: 3PX solid rgba(246, 220, 130, 0.5);
  }

  .modal-login .textarea:active,
  .modal-login .textarea:focus {
    color:rgba(0, 0, 0, 1);
  }
  .modal-close {
    position: relative;
    top: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    font-size: 0;
    cursor: pointer;
    border: none;
    background-color: rgba(240, 197, 46, 0.5);
    border-radius: 50%;

  }
  .modal-close::before,
  .modal-close::after {
    content: "";
    position:absolute;
    width: 30px;
    height: 3px;
    top: 25px;
    left: 13px;
    background-color: #ffffff;
  }
  .modal-close::before {
    transform: rotate(45deg);

  }
  .modal-close::after {
    transform: rotate(-45deg);
  }


.modal-map {
  position: relative;
  top: 120px;
  left: 50%;
  width: 960px;
  padding: 50px 80px;
  margin-left: -490px;
  background-color: #ffffff;
  z-index: 1;
}
  /*Catalog*/
  .catalog-wrapper {
    display: flex;
  }
  .catalog ul {
    padding: 0;
  }


  .catalog-list-wrapper {
    width: 760px;
    height: 1070px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .catalog-main-conteiner h1 {
    font-style: Gilroy, sans-serif;
    font-size: 47px;
    line-height: 48px;
  }
  /*Breadcrumbs*/
  .breadcrumbs {
    padding: 0px;
    display: flex;
  }

  .breadcrumbs li {
    list-style: none;
  }
  .breadcrumbs a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    font-style: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .filters h2, .catalog h3 {
    font-style: Gilroy, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  /*sort*/
  .sort {
    margin-left: -22px;
    width: 990px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
  }
  .sort-type {

    display: flex;
  }
  .sort-type li {
    list-style: none;
  }
  .sort-type a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 18px;
  }
  .sort-type a:hover,
  .sort-type a:focus {
    color: rgba(0, 0, 0, 0.6);
  }
  .sort-type a:active {
    color: rgba(0, 0, 0, 1);
  }
  .catalog-list li {
    position: relative;
    list-style: none;
    width: 360px;
    height: 380px;
    margin-top: 30px;
  }
  .catalog-item-hover a {
    text-decoration: none;
    color: #000000;
  }
  .catalog-item-hover {
    position: absolute;
    top: 180px;
    left:60px;
    visibility: hidden;
  }
  .catalog-item-hover .button:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .catalog-item-img:hover + .catalog-item-hover,
  .catalog-item-img:focus + .catalog-item-hover {
    visibility: visible;
  }
  .catalog-item-hover:hover {
    visibility: visible;
  }
  .catalog-item .add-button {
    font-style: Open Sans sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
  }
  .catalog-item .add-button:hover,
  .catalog-item .add-button:focus {
    color: rgba(0, 0, 0, 1);
  }
  .catalog-item .add-button:active {
    color: rgba(0, 0, 0, 0.2);
  }
  .catalog-item-price a {
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  /*Filter*/
  .filters {
    display: flex;
    flex-direction: column;
  }
  .filters-header {
    margin-left: -220px;
    margin-top: 0;
    padding: 0;
    width: 470px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.08);
  }
  .filters-header h2 {
    margin-left: 220px;
  }
.filters fieldset {
  border: 0 none;
}
.filters legend {
  font-style: Gilroy, sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.filter-column-wrapper {
  display: flex;
  flex-direction: column;
}



  /*Paginator*/
  .pagination-list {
    width: 760px;
    height: 70px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.08);
  }

  .pagination-list a {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
  }
  .pagination-list a:hover,
  .pagination-list a:focus{
    color: rgba(0, 0, 0, 0.6);
  }
  .pagination-list a:active {
    color: rgba(0, 0, 0, 1);
  }
  .pagination-list li {
    list-style: none;
    margin: 10px;
  }
  .pagination-list .button-pagination {
    width: 126px;
    height: 70px;
    padding: 20px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }
  .pagination-list .button-pagination:hover,
  .pagination-list .button-pagination:focus {
    background-color:rgba(0, 0, 0, 0.08);
  }
  .pagination-list .button-pagination:active {
    color: rgba(0, 0, 0, 0.3);
  }
