@font-face {
    font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
body {
  width: 1440px;
  padding: 0px;
  margin: 0px;
  font-family: Gilroy, Arial, sans-serif ;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;

  background-color: #ffffff;

}
.main-container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

a {
  text-decoration: none;

}
.main-navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 299px;
  background-color: #f7e296;
}

.main-navigation-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.main-navigation-list li {
  display: flex;

}
.main-navigation-item-wrapper li {
  width: 120px;
}
.main-navigation-list li:first-child {
  margin:0;
}
.main-navigation-item-wrapper {
  width: 500px;
  display: flex;
}
.main-navigation-item-wrapper li:first-child {
  margin-left: 0;
}
.main-navigation-item-wrapper li:nth-child(2) {
  margin-left: 40px;
}
.main-navigation-item-wrapper li:last-child {
  margin-right: 0;
  margin-left: 105px;
}

.search-nav-wrapper {
  order: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-container {
  order: 0;
  width: 440px;
  min-height: 20px;
  display: flex;

}
.site-navigation {
  width: 500px;
  margin: 0;
  padding: 0;
  min-height: 117px;
  display: flex;
}
.site-navigation li {
  display: flex;
  min-width: 80px;
  min-height: 50px;
  margin: 0;
  padding: 0;

}
.site-navigation li {
  display: flex;
  width: 100px;
  min-height: 50px;
}
.site-navigation li:first-child  {
  width: auto;
  margin-right: 0;
}
.site-navigation li:nth-child(2)  {
  margin-right: 40px;
  margin-left: auto;

}
.site-navigation li:last-child  a  {
  margin-right: 0;
  margin-left: auto;
}

.main-navigation-container {
  position: absolute;
  top: 210px;
  min-height: 50px;


}
.list-wrapper {
  display: flex;
}

.catalog-left {
  padding: 0px;

}
.catalog-right{


}








.main-header-logo b {
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.01em;
}
.main-navigation-item{
  min-height: 100px;
  list-style: none;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}
ul:first-child a:hover + .main-navigation-container,
ul:first-child a:focus + .main-navigation-container {
  display: block;
}
.main-navigation-container:hover {
  display: block;
}

.main-navigation-container ul {
  list-style: none;
}

.site-navigation, .main-navigation-container {
  list-style: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height:30px;
  letter-spacing: 0.01em;
}
.main-navigation-container {
  line-height: 36px;
  text-transform: none;
}
.site-navigation a, .main-navigation-item a{
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-navigation-item a:hover,
.main-navigation-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active,
.main-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}


.search-container input[type="search"] {
  border: none;
  outline: none;
  background-color: #f7e296;
  -webkit-appearance: none;

}

.search-container input[type="search"]:active,
.search-container input[type="search"]:focus {
  border-bottom: 2px solid #000000;
  background-color: #f7e296;

}

.search-container input[type="search"]:active + .btn-search,
.search-container input[type="search"]:focus + .btn-search {
  visibility: visible;
}

.search-container input[type="search"]input::-webkit-search-results-decoration { display: none; }
.search-container input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search-container input:focus::-webkit-input-placeholder,
.search-container input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search-container input:active::-webkit-input-placeholder {
  color: #000000;
}

.search-container .btn-search {
  visibility: hidden;
  margin: 0px;
  padding: 0px;
  width: 85px;
  height: 49px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  background-color:#f7e296;
  color: #000000;
  border: 2px solid black;

}
.search-container .btn-search:hover {
  background-color:#000000;
  color: #ffffff;
}

.search-container .btn-search:active {
  color: rgba(255, 255, 255, 0.7);

}








.visualy-hidden {
  display: none;
}
.main-slider {
  font-family: "Open Sans", "Arial", sans-serif;
  position: relative;

  width: 1160px;
  height: 500px;
}
.main-slider p {
  font-size: 15px;
  line-height: 30px;
}
.main-slider td {
  font-size:13px;
  line-height: 30px;
}

 .button{
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  min-width: 220px;
  max-width: 100%;
  position: relative;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  border: 0;
  background: 0;
}
 .button::after {
    content: "";
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
    z-index: -1;
    transition: .3s linear;
}
 .button:hover::after,
 .button:focus::after{
  height: 100%;
  }
  .main-slider .button:active {
    color:rgba(0, 0, 0, 0.3);
  }
.main-slider h2,
.main-slider .button-more,
.main-slider span{
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
}
.main-slider .button-more {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
.main-slider th {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
}
.main-slider span {

  font-size: 179.2px;
  line-height: 179.2px;
}

.main-slider input[type=radio] {
  display: none;
}
.slider-inner {
  overflow: hidden;
}
.slider-slides {
  width: 300%;
  transition: transform 0.8s ease;
}

.slider-slides .slide {
  width: 1160px;
  height: 500px;
  float: left;

}

.main-slider .slider-controls {
  text-align: center;

  top: 555px;
  right: 80px;
}

.main-slider .slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}

.radio-center {
  display: block;
  width: 4px;
  height: 4px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 2px;
  margin-top: 2px;
}

#main-slider-btn-1:checked ~ .slider-controls label[for="main-slider-btn-1"] span,
#main-slider-btn-2:checked ~ .slider-controls label[for="main-slider-btn-2"] span,
#main-slider-btn-3:checked ~ .slider-controls label[for="main-slider-btn-3"] span {
    background-color:#666666;
}

#main-slider-btn-1:checked ~ .slider-inner .slider-slides{
    transform: translate(0px);
}
#main-slider-btn-2:checked ~ .slider-inner .slider-slides{
    transform: translate(-1160px);
}
#main-slider-btn-3:checked ~ .slider-inner .slider-slides{
    transform: translate(-2320px);
}
.slide {
  display: flex;

}


.main-navigation {
  display: flex;
}
.show {
  display: inline-block;
  width: 40px;
  height: 20px;
  border: 1px solid black;
}



.range-filter {
  width: 240px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}
.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}
.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.main-popular {
  margin:0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  list-style: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;

}
.main-popular .img-container {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  margin: 20px;
}
.main-popular .img-container:focus,
.main-popular .img-container:hover {
  background-color: #f0c52e;
}
.main-popular .img-container:active img{
  opacity: 0.3;
}
.main-popular a {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
/* Сервисный слайдер*/
.services-slider{
  display: flex;
  margin:0;
  padding:0;
  width: 1445px;
  height: 288px;
  background-color: #e5e5e5;

}

.services-slider .button:active {
  background-color: #000000;
  color:#ffffff;
}
.services-slider .button:active::after {
  background-color: #000000;
}

.services-slider h3, .services-slider span {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  line-height: 48px;
}
.services-slider span {
  font-size: 18px;
  line-height: 24px;
}
.services-slider p{
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

/* Логотипы*/
.logo-list {
  height: 290px;
  display: flex;
  justify-content: space-between;
}
.logo-list li{
 line-height: 0;
  position: relative;
  list-style: none;
}
.logo-list a{
  text-decoration: none;
  color: inherit;

}

.logo-list .img{
  display: block;
  width: 260px;
  height: 100px;
}
.logo-list .img1-hover,
.logo-list .img2-hover,
.logo-list .img3-hover,
.logo-list .img4-hover{
  position: absolute;
  top: 0;
  transition: .5s;
}
.logo-list a:hover .img1-hover,
.logo-list a:hover .img2-hover,
.logo-list a:hover .img3-hover,
.logo-list a:hover .img4-hover,
.logo-list a:focus .img1-hover,
.logo-list a:focus .img2-hover,
.logo-list a:focus .img3-hover,
.logo-list a:focus .img4-hover{
   opacity: 0;
}
/* Блок информации*/
.info-wrapper {
  display: flex;
}
.info h2, .contact h2 {
  font-family: Gilroy, sans-serif;
  font-size:47px;
  line-height: 48px;
}
.info p, .contact p {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 30px;
}
.info a, .contact a {
  text-decoration: none;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color:#000000;

}
.info a:active, .contact a:active {
  color: rgba(0, 0, 0, 0.3);
}
.delivery-company {
  list-style:none;
}
/*footer*/
.main-footer {
  min-width: 1440px;
  margin: 0;
  padding:0;
}
.main-footer {
  display: flex;
  background-color: #464646;
  color: #ffffff;
  width: 1440px;
  height: 323px;
}
.main-footer .user-navigation {
  width: 480px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.main-footer .user-navigation li {
  margin-left: 30px;
  margin-right: 30px;
}
.main-footer .footer-navigation-container {
  display: flex;
  justify-content: space-between;
}
.footer-services {
  display: flex;
  justify-content: center;
}
.footer-services li {
  margin-left: 20px;
  margin-right: 20px;
}
.footer-navigation-container p:first-of-type {
  order: -1;
}
.main-footer .social-button {
  display: flex;
  justify-content: center;
}
.social-button li:first-child {
  margin-left: auto;
}
.social-button li:last-child {
  margin-left:auto;
}
.main-footer .logo {
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
}
.main-footer .logo:hover, .main-footer .logo:focus {
  color: rgba(255, 198, 0, 0.6);
}
.main-footer .logo:active {
  color: rgba(255, 198, 0, 0.3);
}
.main-footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.main-footer a:hover, .main-footer a:focus {
  color: rgba(255, 255, 255, 1);
}
.main-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}
.htmla-logo:hover, .htmla-logo:focus {
  opacity: 0.6;
}
.htmla-logo:active {
  opacity: 0.3;
}
.main-footer li {
  list-style: none;
}
.user-navigation a{
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 36px;
}
 .footer-services{
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

}
.main-navigation-container p {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

/*Modal*/
.modal-login {
  width: 960px;
  height: 553px;
}

.modal-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.modal-wrapper p {
  display: flex;
  flex-direction: column;
}
.modal-wrapper p:first-child {
  margin-left: auto;
  margin-right: 40px;

}
.modal-wrapper p:nth-child(2) {
  margin-right: auto;
}

.modal label{
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.modal-wrapper .modal-button {
  margin-left: 100px;
  margin-right: auto;
}
.modal .modal-button:active{
  color: rgba(0, 0, 0, 0.3);
}

.modal-login input::-webkit-input-placeholder,
.modal-login .textarea {
  font-style: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding-left: 20px;
    color:rgba(0, 0, 0, 0.4);
}
.modal-login input {
  width: 360px;
  height: 50px;
  border: none;
  outline: none;
  background-color:#f2f2f2;

}
.modal-login .textarea{
  padding: 0px;
  width: 760px;
  height: 160px;
  margin:0 auto;
  outline: none;
  background-color: #f2f2f2;
  resize: none;
  border: none;
  }
  .modal-login input:active,
  .modal-login input:focus,
  .modal-login .textarea:active,
   .modal-login .textarea:focus{
    border: 3PX solid rgba(246, 220, 130, 0.5);
  }

  .modal-login .textarea:active,
  .modal-login .textarea:focus {
    color:rgba(0, 0, 0, 1);
  }

  /*Catalog*/
  .catalog-wrapper {
    display: flex;
  }
  .catalog ul {
    padding: 0;
  }


  .catalog-list-wrapper {
    width: 760px;
    height: 1070px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .catalog-main-conteiner h1 {
    font-style: Gilroy, sans-serif;
    font-size: 47px;
    line-height: 48px;
  }
  /*Breadcrumbs*/
  .breadcrumbs {
    padding: 0px;
    display: flex;
  }

  .breadcrumbs li {
    list-style: none;
  }
  .breadcrumbs a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    font-style: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .filters h2, .catalog h3 {
    font-style: Gilroy, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  /*sort*/
  .sort {
    margin-left: -22px;
    width: 990px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
  }
  .sort-type {

    display: flex;
  }
  .sort-type li {
    list-style: none;
  }
  .sort-type a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 18px;
  }
  .sort-type a:hover,
  .sort-type a:focus {
    color: rgba(0, 0, 0, 0.6);
  }
  .sort-type a:active {
    color: rgba(0, 0, 0, 1);
  }
  .catalog-list li {
    position: relative;
    list-style: none;
    width: 360px;
    height: 380px;
    margin-top: 30px;
  }
  .catalog-item-hover a {
    text-decoration: none;
    color: #000000;
  }
  .catalog-item-hover {
    position: absolute;
    top: 180px;
    left:60px;
    visibility: hidden;
  }
  .catalog-item-hover .button:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .catalog-item-img:hover + .catalog-item-hover,
  .catalog-item-img:focus + .catalog-item-hover {
    visibility: visible;
  }
  .catalog-item-hover:hover {
    visibility: visible;
  }
  .catalog-item .add-button {
    font-style: Open Sans sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
  }
  .catalog-item .add-button:hover,
  .catalog-item .add-button:focus {
    color: rgba(0, 0, 0, 1);
  }
  .catalog-item .add-button:active {
    color: rgba(0, 0, 0, 0.2);
  }
  .catalog-item-price a {
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  /*Filter*/
  .filters {
    display: flex;
    flex-direction: column;
  }
  .filters-header {
    margin-left: -220px;
    margin-top: 0;
    padding: 0;
    width: 470px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.08);
  }
  .filters-header h2 {
    margin-left: 220px;
  }
.filters fieldset {
  border: 0 none;
}
.filters legend {
  font-style: Gilroy, sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.filter-column-wrapper {
  display: flex;
  flex-direction: column;
}



  /*Paginator*/
  .pagination-list {
    width: 760px;
    height: 70px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.08);
  }

  .pagination-list a {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
  }
  .pagination-list a:hover,
  .pagination-list a:focus{
    color: rgba(0, 0, 0, 0.6);
  }
  .pagination-list a:active {
    color: rgba(0, 0, 0, 1);
  }
  .pagination-list li {
    list-style: none;
    margin: 10px;
  }
  .pagination-list .button-pagination {
    width: 126px;
    height: 70px;
    padding: 20px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }
  .pagination-list .button-pagination:hover,
  .pagination-list .button-pagination:focus {
    background-color:rgba(0, 0, 0, 0.08);
  }
  .pagination-list .button-pagination:active {
    color: rgba(0, 0, 0, 0.3);
  }
